.presentation {
    position: relative;
    width: 100%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.presentation h1{
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 2.3rem;
    text-transform: uppercase;
    z-index: 10;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    backdrop-filter: blur(2px);
    user-select: none;
    cursor: text;
}
.presentation h1::before{
    content: "“";
    color: #2CB1F3;
    font-weight: 700;
}

.presentation h1::after{
    content: "”";
    color: #2CB1F3;
    font-weight: 700;

}

.presentation p{
    width: 45%;
    z-index: 10;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding: 0.5rem;
    backdrop-filter: blur(2px);
    user-select: none;
    cursor: text;
}
.presentation .carrusel{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('https://www.qualitymag.com/ext/resources/Issues/2023/May/VS0523-FEAT-DeepLearn-p1FT-Manufacturing_Floor_Image-LandingAI.jpg?1682967311');
    background-size: cover;
    background-position: center;
    
}
.presentation .carrusel .slide{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.presentation .carrusel .slide.active {
    opacity: 1;
    display: block;
    transform: scale(1);
}

.presentation .carrusel .slide.previous {
    transform: translateX(-100%);
  }
  
.presentation .carrusel .slide.next {
    transform: translateX(100%);
}

.presentation .carrusel .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px);
    user-select: none;


}

.presentation .sobre-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 16, 31, .4);
    z-index: 5;
}

.welcome{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: rgb(1, 26, 50);
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    overflow: hidden;
    pointer-events: none;
}
.welcome div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;    
    width: 90%;
    padding: 4rem 2rem;
    z-index: 10;
    border-radius: 10px;
    backdrop-filter: blur(1px); /* Aplica el desenfoque */
   
}
.welcome div p{
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-align: justify;
    font-weight: 500;
    
}
.welcome img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.35;
    z-index: 5;
}